# Rust
/target/
Cargo.lock

# Nix
/.direnv/
result

# Docs
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

# IDE
.idea/
.vscode/
*.swp

# Moss
.moss/*
!.moss/config.toml
!.moss/duplicate-functions-allow
!.moss/duplicate-types-allow
!.moss/hotspots-allow
!.moss/large-files-allow
!.moss/memory/
